h1 {
    color: white;
    text-align: center;
    font-size: 22px;
   font-weight: bolder;
}

body {
    background-color: black;
    color:floralwhite;

}
p{
    color: white;
    text-align: center;
    font-size: 22px;
   font-weight: bolder;
}
